body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f0f0;
  color: #333;
  transition: 0.3s;
}
body.dark {
  background: #181818;
  color: white;
}
.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input, select, button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #6a0dad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}